b{
font-size: 50px;    
}

.a{
font-size: 35px;    
}

.b{
font-size: 35px;    
}

p{
text-align: justify;
}

.c{
font-size: 35px;
}

.list-one>li{
font-size: 15px;  
}

.d{
font-size: 35px;    
}

.list-two>li{
font-size: 15px;    
}

.e{
font-size: 35px;    
}

.list-three>li{
font-size: 15px;    
}